<body>
<div class="container text-center" style="text-align: center;">
  <h1>COMPONENTS CALC</h1>
</div>
<br>
<br>


<app-numbers style="text-align: center;" 
(sendValue1)="receiveUserInput1($event)"
(sendValue2)="receiveUserInput2($event)">
</app-numbers><br>

<app-operation  style="text-align: center;"
(opChoice)="receiveAdd($event)"
(opChoice)="receiveSubtract($event)"
(opChoice)="receiveMultiply($event)"
(opChoice)="receiveDivide($event)">
</app-operation><br>

<app-result style="text-align: center;"
[userInput1]="userInput1"
[userInput2]="userInput2"
[operatorChoice]="operationChoice">

</app-result>
</body>