<section class="text-center p-2 my-3">
    <button (click)="selectAdd()" type="button" class="btn btn-secondary text-center m-1 px-5" style="background-color:rgb(91, 41, 228); color: white; margin-right: 5px;">ADD</button>
    
    <button (click)="selectSubtract()" type="button" class="btn btn-secondary text-center m-1 px-5" style="background-color:rgb(91, 41, 228); color: white; margin-right: 5px;">MINUS</button> 
    
    <button (click)="selectMultiply()" type="button" class="btn btn-secondary text-center m-1 px-5 " style="background-color:rgb(91, 41, 228); color: white; margin-right: 5px;">MULTIPLY</button>

    <button (click)="selectDivide()" type="button" class="btn btn-secondary text-center m-1 px-5"  style="background-color:rgb(91, 41, 228); color: white;">DIVIDE</button>
  </section>